*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    padding: 2rem;
}
h1{
    display: inline-block;
    font-size: 3rem;
    padding: .5rem;
    vertical-align: bottom;
}

main{
   
    
    background-color: #f6f8f9;
    padding-top: .5rem;
    padding-bottom: .5rem;

}

.blocco-centrale{
    width: 50rem;
    height: 50rem;
    margin: 3rem auto;
    background-color: white;
    border-radius: .5%;
    
}

#bottone-task{
    background-color: #47adf1;
    color: white;
    padding: .3rem;
    border-radius: 10%;
}

#bottone-section{
    background-color: white;
    color: gray;
    padding: .3rem;
    margin-left: .3rem;
    border-radius: 10%;
}

.bottoni{

    margin: 1rem 2rem;
    padding-top: 0.8rem;
    
    
}

hr{
    border-color: #f6f8f9;
}

.new-task{
    padding: 2rem;
}

.freccia{

    font-size: 2rem;
    vertical-align: sub;
}

.check-mark{
    color: green;
    border: 2px solid green;
    border-radius: 100%;
    padding: 1.5px;    
}

.blu{
    border: 2px solid blue;
    background-color: blue;
    color: white;
    border-radius: 20%;
}
.cross{
    color: red;
    border: 2px solid red;
    border-radius: 100%;
    padding: 1.5px;
}

.today {
    padding: 2rem;
}

p{
    padding: 1rem;
}
.viola {
    border: 2px solid violet;
    background-color: violet;
    color: white;
    border-radius: 20%;
}.verde {
    border: 2px solid green;
    background-color: green;
    color: white;
    border-radius: 20%;
}.arancione {
    border: 2px solid orange;
    background-color: orange;
    color: white;
    border-radius: 20%;
}