*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 1rem 2rem;
}

h1{
    display: inline-block;
    font-size: 3rem;
    padding: .5rem;
    vertical-align: bottom;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main{
    background-color: #f6f8f9;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.central-block{
    width: 80%;
    margin: 3rem auto;
    background-color: white;
    border-radius: 15px;
}

.button{
    margin: 0.8rem 3rem;
    padding-top: 1rem;
}

#button-task{
    background-color: #47adf1;
    color: white;
    padding: 5px 10px;
    border: #47adf1 1px solid;
    border-radius: 5px;
}

#button-section{
    background-color: white;
    color: gray;
    border: gray 1px solid;
    margin-left: .3rem;
    border-radius: 5px;
    padding: 5px 10px;
}

hr{
    border-color: #f6f8f9;
}

.today, .upcoming, .new-task{
    padding: 1rem 2rem;
}

.new-task{
    padding-top: 2.5rem;
}

p{
    padding: 1rem;
    font-weight: bold;
}

.square{
    color: white;
    border-radius: 25px;
    padding: 5px 10px;
    border-width: 0;
    border: 2px solid;
}

.viola{
    border-color: violet;
    background-color: violet;
}

.green{
    border-color:  green;
    background-color: green;
    
}

.orange{
    border-color:  orange;
    background-color: orange;
}

.light-green{
    border-color:  lightgreen;
    background-color: lightgreen;
}

.magenta{
    border-color:  magenta;
    background-color: magenta;
}

.blu{
    border-color:  blue;
    background-color: blue;
}

.arrow{
    font-size: 2rem;
    vertical-align: sub;
}

.circle{
    border: 2px solid;
    border-radius: 100%;
    padding: 2.5px;
    vertical-align: sub;
}

.color-green{
    color: green;
    border-color: green;
}

.color-red{
    color: red;
    border-color: red;
}